## –ß–∞—Å—Ç—å 1: –í–≤–µ–¥–µ–Ω–∏–µ –≤ Pandas

Pandas - —ç—Ç–æ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ Python –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏. –û–Ω–∞ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç –º–æ—â–Ω—ã–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –∏ –º–∞–Ω–∏–ø—É–ª—è—Ü–∏–∏ –¥–∞–Ω–Ω—ã–º–∏.

### –£—Å—Ç–∞–Ω–æ–≤–∫–∞ Pandas

–î–ª—è –Ω–∞—á–∞–ª–∞ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ —É –≤–∞—Å —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ Pandas. –ï—Å–ª–∏ –µ–µ –Ω–µ—Ç, —É—Å—Ç–∞–Ω–æ–≤–∏—Ç–µ –µ–µ —Å –ø–æ–º–æ—â—å—é –∫–æ–º–∞–Ω–¥—ã:

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\l02ym\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\l02ym\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.1.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
–î–∞–≤–∞–π—Ç–µ –Ω–∞—á–Ω–µ–º —Å –∏–º–ø–æ—Ä—Ç–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas:

In [4]:
import pandas as pd

## –ß–∞—Å—Ç—å 2: –†–∞–±–æ—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏
### –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
–ú—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–∞—Ç–∞—Å–µ—Ç Titanic. –î–∞–≤–∞–π—Ç–µ –ø—Ä–æ—á–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ CSV —Ñ–∞–π–ª–∞.

In [11]:
# –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –∏ –∏–º–ø–æ—Ä—Ç
!pip install pandas

import pandas as pd

# –°–æ–∑–¥–∞–Ω–∏–µ —Ç–µ—Å—Ç–æ–≤–æ–≥–æ —Ñ–∞–π–ª–∞ titanic.csv
data = {
    "PassengerId": [1, 2, 3, 4, 5],
    "Survived": [0, 1, 1, 1, 0],
    "Pclass": [3, 1, 3, 1, 3],
    "Name": [
        "Braund, Mr. Owen Harris",
        "Cumings, Mrs. John Bradley",
        "Heikkinen, Miss. Laina",
        "Futrelle, Mrs. Jacques Heath",
        "Allen, Mr. William Henry"
    ],
    "Sex": ["male", "female", "female", "female", "male"],
    "Age": [22, 38, 26, 35, None],
    "SibSp": [1, 1, 0, 1, 0],
    "Parch": [0, 0, 0, 0, 0],
    "Fare": [7.25, 71.2833, 7.925, 53.1, 8.05]
}
df = pd.DataFrame(data)
df.to_csv("titanic.csv", index=False)

# –ß—Ç–µ–Ω–∏–µ –∏ –∞–Ω–∞–ª–∏–∑
df = pd.read_csv("titanic.csv")
print("üîπ –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:\n", df.head())
print("\nüîπ –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö:")
print(df.info())
print("\nüîπ –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:\n", df.isna().sum())

# –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ NaN –∏ —É–¥–∞–ª–µ–Ω–∏–µ
df_filled = df.fillna(0)
print("\nüîπ –ü–æ—Å–ª–µ fillna(0):\n", df_filled)

df_dropped = df.dropna()
print("\nüîπ –ü–æ—Å–ª–µ dropna():\n", df_dropped)

Requirement already satisfied: pandas in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\l02ym\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\l02ym\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\l02ym\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
üîπ –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:
    PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0
4            5         0       3      Allen, Mr. William Henry    male   NaN

   SibSp  Parch     Fare
0      1      0   7.2500
1      1      0  71.2833
2      0      0   7.9250
3      1      0  53.1000
4      0      0   8.0500

üîπ –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  5 non-null      int64
 1   Survived     5 non-null      int64
 2   Pclass       5 non-null      int64
 3   Name         5 non-null      object
 4   Sex          5 non-null      object
 5   Age          4 non-null      float64
 6   SibSp        5 non-null      int64
 7   Parch        5 non-null      int64
 8   Fare         5 non-null      float64
dtypes: float64(2), int64(5), object(2)
memory usage: 492.0+ bytes
None

üîπ –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            1
SibSp          0
Parch          0
Fare           0
dtype: int64

üîπ –ü–æ—Å–ª–µ fillna(0):
    PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0
4            5         0       3      Allen, Mr. William Henry    male   0.0

   SibSp  Parch     Fare
0      1      0   7.2500
1      1      0  71.2833
2      0      0   7.9250
3      1      0  53.1000
4      0      0   8.0500

üîπ –ü–æ—Å–ª–µ dropna():
    PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0

   SibSp  Parch     Fare
0      1      0   7.2500
1      1      0  71.2833
2      0      0   7.9250
3      1      0  53.1000

[notice] A new release of pip is available: 24.1.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### –ü—Ä–µ–¥–ø—Ä–æ—Å–º–æ—Ç—Ä –¥–∞–Ω–Ω—ã—Ö
–î–ª—è –ø–µ—Ä–≤–æ–≥–æ –æ–∑–Ω–∞–∫–æ–º–ª–µ–Ω–∏—è —Å –¥–∞–Ω–Ω—ã–º–∏ –¥–∞–≤–∞–π—Ç–µ –≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫.

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley",female,38.0,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath",female,35.0,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,8.0500

### –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö
–ß—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞–Ω–Ω—ã—Ö, –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å –º–µ—Ç–æ–¥–æ–º .info().

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  5 non-null      int64
 1   Survived     5 non-null      int64
 2   Pclass       5 non-null      int64
 3   Name         5 non-null      object
 4   Sex          5 non-null      object
 5   Age          4 non-null      float64
 6   SibSp        5 non-null      int64
 7   Parch        5 non-null      int64
 8   Fare         5 non-null      float64
dtypes: float64(2), int64(5), object(2)
memory usage: 492.0+ bytes

### –†–∞–±–æ—Ç–∞ —Å NaN
–ß–∞—Å—Ç–æ –¥–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç—Å—è –∫–∞–∫ NaN (Not a Number). Pandas –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç —É–¥–æ–±–Ω—ã–µ –º–µ—Ç–æ–¥—ã –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –Ω–∏–º–∏.

–ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ NaN. –ú–µ—Ç–æ–¥—ã fillna –∏ dropna –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –Ω–æ–≤—ã–µ Dataframe, –ø—Ä–æ–≤–µ—Ä—å—Ç–µ –Ω–µ—Ç –ª–∏ –≤ –Ω–∏—Ö NaN

In [15]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            1
SibSp          0
Parch          0
Fare           0
dtype: int64

–ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ NaN

In [16]:
df_filled = df.fillna(0)

–£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å NaN

In [17]:
df_dropped = df.dropna()

## –ß–∞—Å—Ç—å 3: –û–±—Ä–∞–±–æ—Ç–∫–∞ DataFrame
### –í—ã–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö
Pandas –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–±–∏—Ä–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –∏–Ω–¥–µ–∫—Å–∞–º, –º–µ—Ç–∫–∞–º —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ —É—Å–ª–æ–≤–∏—è–º.

In [18]:
# –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –≤—Å–µ—Ö NaN –∑–Ω–∞—á–µ–Ω–∏–µ–º 0
df_filled = df.fillna(0)
print("üîπ DataFrame –ø–æ—Å–ª–µ fillna(0):")
print(df_filled)

# –£–¥–∞–ª–µ–Ω–∏–µ –≤—Å–µ—Ö —Å—Ç—Ä–æ–∫ —Å NaN
df_dropped = df.dropna()
print("\nüîπ DataFrame –ø–æ—Å–ª–µ dropna():")
print(df_dropped)

üîπ DataFrame –ø–æ—Å–ª–µ fillna(0):
   PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0
4            5         0       3      Allen, Mr. William Henry    male   0.0

   SibSp  Parch     Fare
0      1      0   7.2500
1      1      0  71.2833
2      0      0   7.9250
3      1      0  53.1000
4      0      0   8.0500

üîπ DataFrame –ø–æ—Å–ª–µ dropna():
   PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0

   SibSp  Parch     Fare
0      1      0   7.2500
1      1      0  71.2833
2      0      0   7.9250
3      1      0  53.1000

### –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö
–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∑–Ω–∞—á–µ–Ω–∏—è–º —Å—Ç–æ–ª–±—Ü–æ–≤.

In [19]:
# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É 'Age' –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é
sorted_df = df.sort_values(by='Age')
print(sorted_df)

   PassengerId  Survived  Pclass                          Name     Sex   Age  \
0            1         0       3       Braund, Mr. Owen Harris    male  22.0
2            3         1       3        Heikkinen, Miss. Laina  female  26.0
3            4         1       1  Futrelle, Mrs. Jacques Heath  female  35.0
1            2         1       1    Cumings, Mrs. John Bradley  female  38.0
4            5         0       3      Allen, Mr. William Henry    male   NaN

   SibSp  Parch     Fare
0      1      0   7.2500
2      0      0   7.9250
3      1      0  53.1000
1      1      0  71.2833
4      0      0   8.0500

### –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö
Pandas —Ç–∞–∫–∂–µ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–ø–æ–ª–Ω—è—Ç—å –∞–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏.

In [20]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ Pclass –∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ –¥–æ–ª–∏ –≤—ã–∂–∏–≤—à–∏—Ö
survival_rate = df.groupby('Pclass')['Survived'].mean()
print(survival_rate)

Pclass
1    1.000000
3    0.333333
Name: Survived, dtype: float64

## –ß–∞—Å—Ç—å 4: –ó–∞–¥–∞–Ω–∏—è –¥–ª—è –ø—Ä–∞–∫—Ç–∏–∫–∏
–ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞ 'titanic.csv'.
–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –µ—Å—Ç—å –ª–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –¥–∞–Ω–Ω—ã—Ö –∏ –∑–∞–ø–æ–ª–Ω–∏—Ç–µ –∏—Ö –Ω—É–ª—è–º–∏.
–í—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ –¥–∞–Ω–Ω—ã—Ö.
–í—ã–±–µ—Ä–∏—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ —Å—Ç–æ–ª–±—Ü–µ 'Age' –±–æ–ª—å—à–µ 30.
–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É 'Fare' –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è.
–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É 'Pclass' –∏ –≤—ã—á–∏—Å–ª–∏—Ç–µ —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç ('Age') –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–ª–∞—Å—Å–∞.

In [23]:
import pandas as pd

# Sample Titanic-like data
data = {
    "PassengerId": [1, 2, 3, 4, 5],
    "Survived": [0, 1, 1, 1, 0],
    "Pclass": [3, 1, 3, 1, 3],
    "Name": [
        "Braund, Mr. Owen Harris",
        "Cumings, Mrs. John Bradley",
        "Heikkinen, Miss. Laina",
        "Futrelle, Mrs. Jacques Heath",
        "Allen, Mr. William Henry"
    ],
    "Sex": ["male", "female", "female", "female", "male"],
    "Age": [22, 38, 26, 35, None],
    "SibSp": [1, 1, 0, 1, 0],
    "Parch": [0, 0, 0, 0, 0],
    "Fare": [7.25, 71.2833, 7.925, 53.1, 8.05]
}

# Create DataFrame and save it as titanic.csv
df = pd.DataFrame(data)
df.to_csv("titanic.csv", index=False)

print("File 'titanic.csv' created successfully.")

File 'titanic.csv' created successfully.